/.idea/.gitignore
/data/external/hf/spacy/20241107_161402.scores.json
/data/external/hf/spacy/20241107_161402.with_scores.csv
/data/external/hf/spacy/20241107_161421.scores.json
/data/external/hf/spacy/20241107_161421.with_scores.csv
/.idea/aws.xml
/data/external/hf/compound_scores.BAK.xlsx
/data/external/hf/conll2003_transformed.all.csv
/.idea/misc.xml
/.idea/modules.xml
/.idea/ner.iml
/.idea/inspectionProfiles/profiles_settings.xml
/data/original/hf/scores.json
/data/original/nltk/scores.json
/data/original/spacy/scores.json
/data/original/test_data.csv
/.idea/vcs.xml
/data/original/hf/with_scores.csv
/data/original/nltk/with_scores.csv
/data/original/spacy/with_scores.csv
